body{
    background-color: #fffdf1;
}

/* My Cart Starts */
.cart{
    padding: 2rem 4%;
    overflow: hidden;
    font-family: 'Jost', Arial, sans-serif;
    background-color: #fffdf1;
}
.cart-head{
    border-bottom: 1px solid #e1ca9a;
    padding-bottom: 0.5rem;
}
.cart-head h1{
    font-size: 2.2rem;
    font-weight: 700;
    font-style: italic;
    color: #584620;
}
.cart-head span{
    font-size: 1.2rem;
    font-weight: 600;
    font-style: normal;
}

/* Empty Cart Body Starts */
.empty-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}
.empty-cart.hide{
    display: none;
}
.empty-cart img{
    width: 350px;
    margin-top: 0.5rem;
}
.empty-cart h4{
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: -0.5rem;
}
.empty-cart h5{
    margin: 0;
    margin-top: 0.3rem;
    font-size: 1.2rem;
}
.empty-cart button{
    min-width: 17rem;
    margin: 1rem 0.3rem 0 0.3rem;
    border: none;
    padding: 0.5rem 0;
    background-color: #d4be8f;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.2s ease;
}
.empty-cart button:hover{
    background-color: #78663d;
}
/* Empty Cart Body Ends */

/* Cart Body Starts */
.cart-body{
    display: flex;
    justify-content: space-between;
}
.cart-body.hide{
    display: none;
}
.cart-product-list{
    width: 58%;
}
.cart-product{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem;
    border-bottom: 1px solid #e1ca9a;
}
.cart-product.hide{
    display: none;
}
.cart-product-img{
    width: 20%;
}
.cart-product-img img{
    width: 100%;
    border-radius: 5px;
}
.cart-product-content{
    width: 78%;
}
.cart-product-content h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}
.cart-product-content p{
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    color: #5d5d5d;
}
.cart-product-content .price-input{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}
.cart-product-content .price-input select{
    background-color: transparent;
    padding: 0 0.5rem;
    border: 1px solid #e1ca9a9d;
    outline: none;
    cursor: pointer;
}
.cart-product-content .price-input .price p{
    color: #000;
    font-weight: 600;
    font-size: 1.3rem;
}
.cart-product-content .btn-row{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}
.cart-product-content .btn-row button{
    border: none;
    padding: 0.2rem 1rem;
    font-weight: 500;
    background-color: #d4be8f;
    color: #fff;
    border-radius: 5px;
    font-size: 0.95rem;
    transition: all 0.2s ease;
}
.cart-product-content .btn-row button:hover{
    background-color: #816e42;
}
.cart-product .close-btn{
    position: absolute;
    top: 1.3rem;
    right: 0;
    font-size: 1.3rem;
    cursor: pointer;
}
.cart-product .close-btn img{
    width: 18px;
}


.cart-summary{
    width: 33%;
    padding: 1.5rem 0;
}
.cart-summary h2{
    font-size: 1.4rem;
    font-weight: 600;
}
.cart-summary .summary{
    margin-top: 1.5rem;
}
.cart-summary .summary p{
    margin: 0;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    color: #5d5d5d;
    font-weight: 500;
    font-size: 1.1rem;
}
.cart-summary .summary #free{
    color: rgb(0, 149, 0);
}
.cart-summary .summary #total{
    font-weight: 700;
    color: #000;
    font-size: 1.2rem;
}
.cart-summary .summary #tax{
    font-size: 0.9rem;
}
.cart-summary button{
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
    border: none;
    background-color: #d4be8f;
    color: #fff;
    transition: all 0.2s ease;
    border-radius: 5px;
}
.cart-summary button:hover{
    background-color: #78663d;
}
.cart-summary .summary-icon-row{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.cart-summary .summary-icon-row .icon-box{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-summary .summary-icon-row .icon-box .icon-img{
    background-color: #f8ecd6;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}
.cart-summary .summary-icon-row .icon-box .icon-img:hover{
    background-color: #efdebd;
}
.cart-summary .summary-icon-row .icon-box img{
    width: 28px;
}
.cart-summary .summary-icon-row .icon-box p{
    font-weight: 500;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
/* Cart Body Ends */

/* Suggested Products Start */
.suggested-products{
    padding: 5rem 0;
}
.suggested-products h1{
    font-size: 2.2rem;
    font-weight: 700;
    font-style: italic;
    color: #473716;
}
.suggested-products-slider{
    margin-top: 2rem;
}
.suggested-products-slider .slide{
    width: 25%;
    margin: 0 10px;
}
.suggested-products-slider .slide img{
    width: 100%;
    border-radius: 5px;
}
.suggested-products-slider .slide h3{
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 400;
    color: #484848;
}
.suggested-products-slider .slide h2{
    font-size: 1.6rem;
    font-weight: 500;
    color: #1b1b1b;
}
.suggested-products-slider .slide .suggested-slide-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
}
.suggested-products-slider .slide .suggested-slide-btns a{
    width: 49%;
}
.suggested-products-slider .slide .suggested-slide-btns button{
    width: 100%;
    padding: 0.4rem 0;
    border: none;
    background-color: #d4be8f;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.2s ease;
}
.suggested-products-slider .slide .suggested-slide-btns button:hover{
    background-color: #78663d;
}

/* Slider Buttons Styles */
.suggested-products-slider .slick-prev,
.suggested-products-slider .slick-next {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #aa9056;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.suggested-products-slider .slick-prev {
    left: -40px;
}
.suggested-products-slider .slick-next {
    right: -40px;
}
.suggested-products-slider .slick-prev:hover,
.suggested-products-slider .slick-next:hover {
    background-color: #8c6e2e;
}
.suggested-products-slider .slick-disabled{
    opacity: 0.5;
    pointer-events: none;
}
/* Suggested Products End */

/* My Cart Ends */

/* Footer Starts */
footer{
    margin-top: 8rem;
}
/* Footer Ends */