body{
    background-color: #fff9eb;
}

.account{
    padding: 2.5rem 0;
    font-family: 'Jost', Arial, sans-serif;
}
.account h1{
    font-size: 2.3rem;
    font-weight: 700;
    font-style: italic;
    color: #584620;
    text-align: center;
}
.account-form{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}
.account-form form{
    /* background-color: #dec99b; */
    background-color: #fff;
    width: 50%;
    padding: 3rem 4rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 14px -8px;
}
.account-form .input-box{
    margin-bottom: 1rem;
}
.account-form .input-box p{
    margin: 0;
    margin-bottom: 0.5rem;
    /* color: #fff; */
    color: #000;
    font-weight: 500;
    font-size: 1.1rem;
}
.account-form .input-box span{
    color: #ff3131;
}
.account-form form input{
    width: 100%;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    outline: 2px solid transparent;
    font-size: 1.1rem;
    background-color: #fffbf0;
    box-shadow: #fadc9ca4 0px 3px 8px;
}
.account-form form input:focus{
    /* outline: 2px solid #9d7e4d; */
    box-shadow: #e7c988 0px 3px 8px;
}
.account-form form input::placeholder{
    /* color: #d6d6d6; */
    color: #707070;
    font-weight: 400;
}
.account-form form input[type="checkbox"]{
    width: max-content;
    width: 17px;
    height: 17px;
    margin-right: 5px;
    outline: none;
    border: none;
    box-shadow: none;
    accent-color: #7a663c;
    cursor: pointer;
}
.account-form form #checkBoxInput p{
   display: flex;
   align-items: center;
}
.account-form form .submit-btn{
   display: flex;
   justify-content: center;
}
.account-form form .submit-btn button{
   width: 30%;
   padding: 0.6rem 0;
   border: none;
   background-color: #af9765;
   color: #fff;
   font-weight: 600;
   text-transform: uppercase;
   border-radius: 5px;
   transition: all 0.2s ease;
}
.account-form form .submit-btn button:hover{
   background-color: #756134;
}
